{{ define "admin/article_add.html"}}
{{ template "admin/header.html" }}
<div id="content">
	<div id="breadcrumb">
		<a href="admin/index" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> 首页</a>
		<a href="/admin/article/index">文章管理</a>
		<a href="#" class="current">新增文章</a>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="fa fa-flask"></i>									
						</span>
						<h5>新增文章</h5>
					</div>
					<div class="widget-content nopadding">
						<form method="get" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">文章标题</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<input type="text" class="form-control input-sm" id="title" value=""/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">文章类别</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<select id="tag">
											<option value="" ></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="" class="col-sm-3 col-md-3 col-lg-1 control-label">关键词</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-quote-left"></i></span>
										<input type='text' class="form-control input-sm" placeholder="" id="keyword" value=""/>
										<span class="input-group-addon"><i class="fa fa-quote-right"></i></span>
									</div>
								</div>											
							</div>
							
							                                                   
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">封面</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
					                <div class="imageBox-article">
					                    <div class="thumbBox-article"></div>
					                    <div class="spinner" style="display: none">Loading...</div>
					                </div>
					                	<input id="img" value="" type="hidden" />
									<input type="file" id="file"/>
								</div>
                            </div>
							
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">描述</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<textarea rows="3" class="form-control" id="remark"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">文章内容</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<script id="container" name="content" type="text/plain"></script>
								</div>
							</div>
							
							<div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">发表时间</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    	<input type="text" class="form-control input-sm" id="time"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">显示</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<label><input type="radio" name="show" value="0" > Not show</label>
									<label><input type="radio" name="show" value="1"/> Show</label>
									<label><input type="radio" name="show" value="2"/> Hot</label>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 col-md-3 col-lg-1 control-label">原创</label>
								<div class="col-sm-9 col-md-9 col-lg-10">
									<label><input type="radio" name="org" value="1"/> Yes</label>
									<label><input type="radio" name="org" value="0"/> No</label>
								</div>
							</div>
							
							<div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">发表人</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text"   class="form-control input-sm" id="root"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">点击量</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-fire"></i></span>
                                    	<input type="text" class="form-control input-sm" id="hit"/>
                                    </div>
                                </div>
                            </div>
							<div class="form-actions">
								<button type="button" class="btn btn-success btn-sm" id="addA">保存</button>&nbsp;&nbsp;
								<button type="button" class="btn btn-danger btn-sm">取消</button>
							</div>
						</form>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>
{{ template "admin/footer.html" }}

<script>
	$(document).ready(function(){	
		$('input[type=checkbox],input[type=radio]').iCheck({
	    	checkboxClass: 'icheckbox_flat-blue',
	    	radioClass: 'iradio_flat-blue'
		});
		$('select').select2();
	    $('.spinner').spinner();
	    var head = $('#img').val();
	    if(!head){
	    	head = '/Public/Other/Img/default.png';
	    }
	    var options = {
        thumbBox: '.thumbBox-article',
        spinner: '.spinner',
        imgSrc: head
    	};
    	var cropper = $('.imageBox-article').cropbox(options);
    	$('#file').on('change', function() {
        	var reader = new FileReader();
        	reader.onload = function(e) {
            options.imgSrc = e.target.result;
            cropper = $('.imageBox-article').cropbox(options);
        }
        reader.readAsDataURL(this.files[0]);
        this.files = [];
    	});
	    $('#addA').click(function(){
	    	var title = $('#title').val();
	    	var tag = $('#tag').val();
	    	var keyword = $('#keyword').val();
	    	var remark = $('#remark').val();
	    	var img = cropper.getDataURL();
	    	var content = UE.getEditor('container').getContent();
	    	var time = $('#time').val();
	    	var show = $('input[name="show"]:checked').val();
	    	var org = $('input[name="org"]:checked').val();
	    	var root = $('#root').val();
	    	var hit = $('#hit').val();
	    	if(!title){
	    		err("文章标题不能为空!");
	    		return false;
	    	}else if(!tag){
	    		err("文章类别不能为空!");
	    		return false;
	    	}else if(!keyword){
	    		err("关键词不能为空!");
	    		return false;
	    	}else if(!remark){
	    		err("文章描述不能为空!");
	    		return false;
	    	}else if(!content){
	    		err("正文不能为空!");
	    		return false;
	    	}else if(!time){
	    		err("发表时间不能为空!");
	    		return false;
	    	}else if(!show){
	    		err("请选择是否显示!");
	    		return false;
	    	}else if(!org){
	    		err("请选择是否原创!");
	    		return false;
	    	}else if(!root){
	    		err("作者不能为空!");
	    		return false;
	    	}else if(!hit){
	    		err("默认点击量不能为空!");
	    		return false;
	    	}
	    	$("#addA").attr("disabled",true);
	    	$.ajax({
	    		type:"post",
	    		url:"{:U('Admin/Article/articleAdd')}",
	    		async:true,
	    		data:{"a_title":title,"a_remark":remark,"a_img":img,"a_keyword":keyword,"pid":tag,"a_time":time,"a_content":content,"a_view":show,"a_hit":hit,"a_original":org,"a_author":root},
				success:function(data){
					if(data.error==0){
						succ("添加文章完成!",data.msg,"{:U('Admin/Article/articleList')}");
					}else{
						err(data.msg);
						$("#addA").removeAttr('disabled');
					}
				},
				eerror:function(data){
					err("网络错误!");
					$("#addA").removeAttr('disabled');
				}
	    	});
	    });

	});
</script>
</body>
</html>
{{ end }}