{{ define "admin/footer.html" }}
<div class="row">
	<div id="footer" class="col-xs-12">
		2020 &copy; daiem.com
	</div>
</div>
</div>
<script src="/public/js/admin/jquery.min.js"></script>
<script src="/public/js/admin/jquery-ui.custom.js"></script>
<script src="/public/js/admin/bootstrap.min.js"></script>
<script src="/public/js/admin/jquery.gritter.min.js"></script>
<script src="/public/js/admin/jquery.nicescroll.min.js"></script>
<script src="/public/js/admin/unicorn.js"></script>
<script src="/public/js/admin/my.js"></script>
<script src="/public/js/admin/cropbox-min.js"></script>
<script src="/public/js/admin/jquery.icheck.min.js"></script>
<script src="/public/js/admin/select2.min.js"></script>
<script src="/public/js/admin/cropbox-min.js"></script>
{{ end }}