{{ define "admin/link_list.html"}}
{{ template "admin/header.html" }}
<div id="content">
	<div id="breadcrumb">
		<a href="/admin/index" title="回到首页" class="tip-bottom"><i class="fa fa-home"></i> 首页</a>
		<a href="#" class="current">链接列表</a>
	</div>
	<div class="row">
		<div class="col-xs-12">

			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="fa fa-link"></i>
					</span>
					<h5>链接列表</h5>
					<span class="label label-info"> 条 </span>
				</div>
				<div class="widget-content">
					<table class="table table-bordered table-striped table-hover with-check">
						<thead>
							<tr>
								<th width="5%">链接编号</th>
								<th width="25%">名称</th>
								<th width="35%">描述</th>
								<th width="15%">显示位置</th>
								<th width="15%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="id"></td>
								<td></td>
								<td></td>
								<td>
									<span class=" btn-dark-red btn-xs">不显示</span>
									<span class=" btn-dark-green btn-xs">内页显示</span>
									<span class=" btn-dark-green btn-xs">首页显示</span>
								</td>
								<td><a class="btn btn-success btn-sm" href="">编辑</a>&nbsp;&nbsp;
									<button class="btn btn-danger btn-sm delL">删除</button></td>				
							</tr>	
						</tbody>
					</table>
					{$page}
				</div>
			</div>
		</div>
	</div>
</div>
{{ template "admin/footer.html" }}
<script>
$(document).ready(function(){
	$(".delL",this).click(function(){
		if (confirm('确定要删除吗？')) {
			var id = $(this).parents("tr").find(".id").text();
			$(".delL").attr("disabled",true);
			$.ajax({
				type:"post",
				url:"/admin/link/del",
				async:true,
				data:{"id":id},
				success:function(data){
					if(data.error==0){
						succ("完成!",data.msg,"/admin/link/index')}");
					}else{
						err("错误!",data.msg);
						$(".deltag").removeAttr('disabled');
					}
				},
			});
		}
	});
});
</script>
</body>
</html>
{{ end }}