{{ define "admin/nav_add.html"}}
{{ template "admin/header.html" }}
<div id="content">
	<div id="breadcrumb">
		<a href="/admin/index" title="回到首页" class="tip-bottom"><i class="fa fa-home"></i> 首页</a>
		<a href="/admin/nav/index">导航管理</a>
		<a href="#" class="current">新增导航</a>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="fa fa-comment"></i>									
						</span>
						<h5>新增导航</h5>
					</div>
					<div class="widget-content nopadding">
						<form  method="post" class="form-horizontal">							
							<div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">名称</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    	<input type="text" value="" class="form-control input-sm" placeholder="" id="name" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">URL</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                    	<input type="text" value="" class="form-control input-sm" id="url" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 col-md-3 col-lg-1 control-label">排序</label>
                                <div class=" col-sm-9 col-md-9 col-lg-10">
                                	<div class="input-group input-group-sm">
										<span class="input-group-addon"><i class="fa fa-anchor"></i></span>
                                    	<input type="text" value="" class="form-control input-sm" placeholder="" id="sort" />
                                    </div>
                                </div>
                            </div>

							<div class="form-actions">
								<button type="button" class="btn btn-success btn-sm" id="addL">添加</button>
								<button type="button" class="btn btn-danger btn-sm">取消</button>
							</div>
						</form>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>
{{ template "admin/footer.html" }}
<script>
	$(document).ready(function(){

    $('#addL').click(function(){
    	var name=$('#name').val();
    	var url=$('#url').val();
    	var sort=$('#sort').val();

		$("#addL").attr("disabled",true);
		$.ajax({
			type:"post",
			url:"",
			async:true,
			data:{
			    "name": name,
				"url": url,
				"sort": sort
			},
			success:function(data){
				if(data.error==0){
					succ("添加导航完成!", data.msg, "/admin/nav/index");
				}else{
					err(data.msg);
					$("#addL").removeAttr('disabled');
				}
			},
			eerror:function(data){
				err("网络错误!");
				$("#addsay").removeAttr('disabled');
			}
		});
    });
});
</script>
</body>
</html>
{{ end }}