{{define "home1/header.html"}}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>代恩民博客</title>
    <meta name="keywords" content="代恩民,博客,代恩民博客,技术博客" />
    <meta name="description" content="代恩民的php博客,个人技术博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/home1/index.css" rel="stylesheet">
    <script src="/public/js/home1/jquery.min.js" ></script>
    <script src="/public/js/home1/comm.js" ></script>
    <!--[if lt IE 9]>
    <script src="/public/js/home1/modernizr.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/public/images/fav.ico" />
</head>
<body>
<header>
    <div class="logo">代恩民博客</div>
    <div class="top-nav">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="nav">
            {{range $k, $v := .navs}}
            <li><a href="{{$v.Url}}" title="">{{$v.Name}}</a></li>
            {{end}}
        </ul>
    </div>
    {{/*<div class="search">
        <form action="#" method="get" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="搜索你喜欢的" style="color: rgb(153, 153, 153);" onfocus="if(value=='搜索你喜欢的'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='搜索你喜欢的'}" type="text">
            <input name="Submit" class="input_submit" value="" type="submit">
        </form>
    </div>*/}}
</header>
<aside class="side">
    <div class="about">
        <i><img src="/public/images/home1/avatar.jpg"></i>
        <p style="text-align: center;">代恩民</p>
        <p>&nbsp;</p>
        <p>一个相信<br><?php <br>echo "PHP是世界上最好的语言";<br>?><br>的软件攻城狮</p>
        <p>&nbsp;</p>
        <p>
            <a href="//github.com/daienmin" style="color: #fff;" target="_blank">GitHub</a>
            &nbsp;|&nbsp;
            <a href="//gitee.com/daienmin" style="color: #fff;" target="_blank">Gitee</a>
        </p>
        <p>QQ: <a href="tencent://message/?uin=952423380" style="color: #fff;" target="_blank">952423380</a></p>
        <p>Email: <a href="mailto:daiem@daiem.cn" style="color: #fff;">daiem@daiem.cn</a></p>
    </div>
    <div class="weixin">
        <img src="/public/images/wx.jpg">
    </div>
</aside>
<main>
{{end}}