{{define "home1/index.html"}}
{{template "home1/header.html"}}
  <div class="main-content">
    <div class="welcome">你好，欢迎访问我的博客！</div>
    <div class="blogbox">
      <div class="bloglist">
        <ul>
          <li>
            <h2><a href="/">【匆匆那些年】总结个人博客经历的这四年…</a></h2>
            <i><a href="/"><img src="http://www.yangqq.com/d/file/jstt/bj/2018-06-29/3f0b6da48a6fd4e626a021ff7bd0d74f.jpg"></a></i>
            <p class="blogtext">博客从最初的域名购买，到上线已经有四年的时间了，这四年的时间，有笑过，有怨过，有悔过，有执着过，也有放弃过…但最后还是坚持了下来，时间如此匆匆，等再回过头已来不及去弥补…</p>
            <p class="bloginfo">
                <span>杨青</span>
                <span>2018年3月19日</span>
                <span>分类</span>
                <span><a href="/">个人博客模板</a></span>
            </p>
          </li>
          
        </ul>
      </div>
      {{/*<div class="pagelist">
      </div>*/}}
    </div>
    <div class="rside">
        <style>
            
        </style>


        <div class="b-tags">
            <h4 class="b-title">热门标签</h4>
            <ul class="b-all-tname">
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">ThinkPHP (43)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">Laravel (39)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">node.js (6)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">Git (5)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">CSS (6)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">HTML (13)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">vue.js (4)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">Mac (8)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">Linux (7)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">Apache (5)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">软件 (7)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">函数 (12)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">PHP基础 (14)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">MySQL (7)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">JavaScript (7)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">PHP类 (3)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">JS插件 (2)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">jQuery (3)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">UEditor (2)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">Composer (3)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">虚拟主机 (5)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">WAMP (3)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">励志 (2)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">读书 (2)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">DNS (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">微信小程序 (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">phpStudy (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">模板 (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">CentOS (4)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">Elasticseach (3)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">设计模式 (21)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">旅游 (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">GitHub (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">Excel (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">直播 (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">OAuth (9)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">ECharts (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">Docker (9)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">观影有感 (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">Word (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-0" href="">PDF (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-1" href="">多语言 (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-2" href="">PHPUnit (1)</a>
                </li>
                <li class="b-tname">
                    <a class="b-tag-style-3" href="">福利专区 (1)</a>
                </li>
            </ul>
        </div>

      
      <div class="news">
        <h4 class="newstitle">文章排行</h4>
          <ul>
            <li><a href="/">如何快速建立自己的个人博客网站</a></li>
            <li><a href="/">个人博客，属于我的小世界！</a></li>
            <li><a href="/">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>
            <li><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
            <li><a href="/">帝国cms 循环调用子栏目信息以及头条图片</a></li>
            <li><a href="/">我是怎么评价自己的？</a></li>
            <li><a href="/">html5 个人博客模板《蓝色畅想》</a></li>
            <li><a href="/">【匆匆那些年】总结个人博客经历的这四年</a></li>
          </ul>
      </div>
      <div class="news">
        <h4 class="newstitle">本栏推荐</h4>
          <ul>
            <li><a href="/">如何快速建立自己的个人博客网站</a></li>
            <li><a href="/">个人博客，属于我的小世界！</a></li>
            <li><a href="/">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>
            <li><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
            <li><a href="/">帝国cms 循环调用子栏目信息以及头条图片</a></li>
            <li><a href="/">我是怎么评价自己的？</a></li>
            <li><a href="/">html5 个人博客模板《蓝色畅想》</a></li>
            <li><a href="/">【匆匆那些年】总结个人博客经历的这四年</a></li>
          </ul>
      </div>
      <div class="news">
        <h4 class="newstitle">栏目更新</h4>
          <ul>
            <li><a href="/">如何快速建立自己的个人博客网站</a></li>
            <li><a href="/">个人博客，属于我的小世界！</a></li>
            <li><a href="/">网易博客关闭，何不从此开始潇洒行走江湖！</a></li>
            <li><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
            <li><a href="/">帝国cms 循环调用子栏目信息以及头条图片</a></li>
            <li><a href="/">我是怎么评价自己的？</a></li>
            <li><a href="/">html5 个人博客模板《蓝色畅想》</a></li>
            <li><a href="/">【匆匆那些年】总结个人博客经历的这四年</a></li>
          </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright 2018  Inc. AllRights Reserved. Design by <a href="/">杨青个人博客</a> 蜀ICP备11002373号-1</p>
    </div>
  </div>
{{template "home1/footer.html"}}
{{end}}