{{define "home1/index.html"}}
{{template "home1/header.html" .}}
<div class="main-content">
    <div class="welcome">你好，欢迎访问我的博客！</div>
    <div class="blogbox">
        <div class="bloglist">
            <ul>
                {{range $k,$v := .list}}
                <li>
                    <h2><a href="/article/{{$v.Article.Id}}">{{$v.Article.Title}}</a></h2>
                    {{if ne $v.Article.Cover ""}}
                    <i><a href="/article/{{$v.Article.Id}}"><img src="{{$v.Article.Cover}}"></a></i>
                    {{end}}
                    <p class="blogtext">{{$v.Article.Description}}</p>
                    <p class="bloginfo">
                        <span>{{$v.Article.Author}}</span>
                        <span>{{$v.Article.CreatedAt}}</span>
                        <span><a href="/category/{{$v.Article.CategoryId}}">{{getArtCate $v.Article.CategoryId}}</a></span>
                        {{$tagLen := len $v.Tags}}
                        {{if gt $tagLen 0}}
                        <span>
                        {{range $kk, $vv := $v.Tags}}
                            <a href="/tag/{{$vv.TagId}}">{{getArtTags $vv.TagId}}</a>
                        {{end}}
                        </span>
                        {{end}}
                    </p>
                </li>
                {{end}}
            </ul>
        </div>
    </div>

    {{template "home1/side.html" .}}
    {{template "home1/footer.html" .}}
{{end}}