{{define "home1/info.html"}}
{{template "home1/header.html" .}}
<div class="main-content">

    <div class="welcome"><a href="/" title="首页">首页</a> > {{.art.Title}}</div>
    <div class="blogbox">
      <div class="contentbox">
        <h2 class="contitle">{{.art.Title}}</h2>
        <p class="bloginfo">
            <span>{{.art.Author}}</span>
            <span>{{.art.CreatedAt}}</span>
            <span><a href="/category/{{.art.CategoryId}}">{{getArtCate .art.CategoryId}}</a></span>
            {{$tagLen := len .artTag}}
            {{if gt $tagLen 0}}
            <span>
            {{range $kk, $vv := .artTag}}
                <a href="/tag/{{$vv.TagId}}">{{getArtTags $vv.TagId}}</a>
            {{end}}
            </span>
            {{end}}
        </p>
        <p class="jianjie"><b>简介</b>{{.art.Description}}</p>
        <div class="entry">
          {{.artContent}}
        </div>

        <div class="nextinfo">
          <p>上一篇：
              {{if ne .optArt.PrefArt.Title ""}}
                  <a href="/article/{{.optArt.PrefArt.Id}}">{{.optArt.PrefArt.Title}}</a>
              {{else}}
              没有了
              {{end}}
          </p>
          <p>下一篇：
              {{if ne .optArt.NextArt.Title ""}}
              <a href="/article/{{.optArt.NextArt.Id}}">{{.optArt.NextArt.Title}}</a>
              {{else}}
              没有了
              {{end}}
          </p>
        </div>
      </div>
      
    </div>
    {{template "home1/side.html" .}}
    {{template "home1/footer.html"}}
{{end}}