* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; background-color:#09b2b9; color: #666; line-height: 1.5; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: none; }
.blank { height: 10px; overflow: hidden; width: 100%; margin: auto; clear: both }
.fl { float: left }
.fr { float: right }
header { position: fixed; top: 0; left: 0; z-index: 10; margin: 0; width: 100%; height: 48px; overflow: hidden; background: #313842; line-height: 48px; }
.logo { font-size: 20px; color: #FFF; margin-left: 20px; float: left }
.logo a { color: #fff }
.top-nav { float: left; margin-left: 80px }
.top-nav ul { overflow: hidden }
.top-nav ul li { display: block; float: left; padding-right: 40px }
.top-nav ul li a { color: #FFF }
.top-nav ul li a:hover { color: #ccc }
.top-nav ul li.selected a, .top-nav ul li a#selected { color: #09b1b9; }
.search { background: #FFF; overflow: hidden; width: 260px; float: right; margin: 10px 30px 0 0; border-radius: 20px; }
.search .input_text { padding-left: 5px; float: left; outline: none; border: 0; height: 30px; line-height: 30px; }
.search .input_submit { background: url(/public/images/home1/search.png) no-repeat center right 10px; color: #FFF; float: right; width: 32px; border: none; cursor: pointer; outline: none; height: 30px; line-height: 30px; }
aside { width: 180px; float: left; overflow: hidden; position: fixed; color: #fff; }
.about { line-height: 26px; font-size: 14px; padding: 0 10px; margin-top: 25px; }
.about i { display: block; margin: 20px auto; width: 100px; height: 100px; }
.about i img { width: 100%; display: block; border-radius: 50%; margin: auto }
.about p { }
.weixin { width: 100%; text-align: center; }
.weixin img { width: 80%; margin: 40px auto 10px }
.main-content { background: #EDEDED; margin-top: 48px; margin-left: 180px; }
.welcome { border-bottom: 1px solid #E1E1E1; background: url(/public/images/home1/home.png) no-repeat left 20px center #fff;background-size: 16px 16px; line-height: 42px; padding-left: 40px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/*newsbox*/
.newsbox { margin: 20px 10px }
.newsbox section { width: 33.3%; float: left; margin-bottom: 20px }
.newsbox .news { background: #fff; margin: 0 10px }
.newstitle {height: 30px;}
.newstitle span { float: right; font-size: 14px }
.newstitle span a { color: #666 }
.newsbox .news ul { padding: 10px }
.newsbox .news ul li { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 28px; width: 96%; line-height: 28px; font-size: 14px; background: url(/public/images/home1/li.png) no-repeat left center; padding-left: 15px; }
.newsbox .news ul li span { float: right; color: #999; font-size: 12px; margin-left: 20px }
.newsbox .news ul li a:hover { color: #09B1B9; }
/*link*/
.links { border: 1px solid #E1E1E1; margin: 0 20px 20px 20px; background: #fff; overflow: hidden; }
.linktitle { background: #F8F8F8; height: 40px; line-height: 40px; text-align: center; font-size: 16px; border-bottom: 1px solid #E1E1E1; }
.link-pic { padding: 20px; overflow: hidden }
.link-pic li { float: left; height: 34px; margin-right: 20px; border: 1px solid #E1E1E1; margin-bottom: 10px }
.link-pic li img { height: 34px; width: 100% }
.link-text { padding: 0 20px 20px 20px; overflow: hidden }
.link-text li { float: left; margin-right: 20px }
.link-text li a:hover { color: #09B1B9; }
.copyright { padding: 0 20px 20px; text-align: center; clear: both; }
.copyright a { color: #666 }
/*cd-top*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(0, 0, 0, 0.8) url(/public/images/home1/top.png) no-repeat center; visibility: hidden; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; z-index: 999;border-radius: 5px;}
.cd-top.cd-is-visible { visibility: visible; opacity: 1; }
/*blogbox*/
.blogbox { width: 70%; float: left; }
.bloglist { margin: 20px; overflow: hidden;}
.bloglist li { overflow: hidden;background-color:#fff; margin-bottom: 10px;}
.bloglist h2 { border-top: 1px solid #eee; border-bottom: 1px solid #eee; background: #FDFDFD; font-weight: 400; font-size: 18px; line-height: 40px; padding-left: 20px; position: relative }
.bloglist h2:before { content: ""; position: absolute; bottom: 0; left: 0; height: 100%; width: 3px; background: #09b1b9 }
.bloglist li:hover{}
.bloglist li:hover h2 a { color: #09B1B9 }
.bloglist li:nth-child(1) h2 { border-top: 0 }
.bloglist li i { display: block; float: right; width: 20%; margin: 20px }
.bloglist li i img { width: 100% }
.blogtext { margin: 20px 0 20px 20px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; }
.bloginfo { margin-left: 20px }
.bloginfo span { padding-left: 20px }
.bloginfo span, .bloginfo span a { margin-right: 1.5%; color: #999; }
.bloginfo span a:hover { color: #09B1B9 }
.bloginfo span:nth-child(1) { background: url(/public/images/home1/man.png) no-repeat left center;background-size: 16px 16px; }
.bloginfo span:nth-child(2) { background: url(/public/images/home1/date.png) no-repeat left center;background-size: 16px 16px; }
.bloginfo span:nth-child(3) { background: url(/public/images/home1/category.png) no-repeat left center;background-size: 16px 16px; }
.bloginfo span:nth-child(4) { background: url(/public/images/home1/tag.png) no-repeat left center;background-size: 16px 16px; }
/*rside*/
.rside { width: 30%; float: right }
.rside .news { background: #fff; margin: 20px 20px 20px 0; border: 1px solid #e2e2e2; padding: 10px 20px;}
/*.rside .news ul { padding: 10px }*/
.rside .news ul li { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 28px; width: 96%; line-height: 28px; font-size: 14px; background: url(/public/images/home1/li.png) no-repeat left center; padding-left: 15px; }
.rside .news ul li span { float: right; color: #999; font-size: 12px; margin-left: 20px; }
.rside .news ul li a:hover { color: #09B1B9; }

/*contentbox*/
.contentbox { border: 1px solid #E1E1E1; margin: 20px; background: #FFF; padding: 20px }
.contitle { font-size: 20px; line-height: 26px; margin-bottom: 20px }
.contentbox .bloginfo { margin-left: 0 }
.contentbox .jianjie { margin: 20px 0; background: #f7f7f7; padding: 10px; }
.jianjie b { color: #09b1b9; margin-right: 5px; }

.nextinfo { margin: 20px 0 }
.nextinfo p { padding: 4px 20px; }
.nextinfo a:hover { color: #09B1B9; text-decoration: underline }

/*media*/
#mnav { }
#mnav a { color: #FFF }
#mnavh { display: none; width: 30px; height: 40px; float: right; text-align: center; padding: 0 5px }
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #FFFFFF; margin-top: 20px }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #FFFFFF; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #fff; }
#mside { display: none }

 @media screen and (min-width: 960px) and (max-width: 1023px) {
    .top-nav { float: right; margin-left: 0 }
    .top-nav ul li { padding-right: 23px; }
    .newsbox .news ul li span { display: none }
    .newsbox .news { margin: 0 5px 0 0 }
    .picbox { margin: 10px }
    .blogtext { -webkit-line-clamp: 2; }
    .bloglist li { margin-bottom: 10px }
    .rside .news ul li span { display: none }
    .bloglist { margin: 10px; }
    .rside .news { margin: 10px 10px 10px 0; }
    .links { margin: 0 10px 10px 10px; }
    .contentbox { margin: 10px }
    .viewbox { margin: 10px }
    .pinlun { margin: 10px }
}
 @media screen and (min-width: 768px) and (max-width: 959px) {
    .top-nav { position: fixed; right: 0; float: right; margin-left: 0; background: #323841; width: 200px }
    .top-nav ul li { padding-right: 0 }
    #mnavh { display: block; }
    #nav { display: none; padding-left: 10px; border-left: #09b1b9 10px solid; }
    .search { display: none }
    .rside { display: none }
    .blogbox { width: 100% }
    .contentbox, .viewbox, .pinlun, .picbox { margin: 10px }
    .newsbox { margin: 0; padding: 0 10px; }
    .bloginfo { margin-bottom: 20px }
    .newsbox section { width: 50% }
    .links { margin: 0 10px 10px 10px }
    .newsbox .news { margin: 0 }
}
 @media only screen and (max-width: 767px) {
    body { }
    .navicon { margin-top: 18px }
    .top-nav { position: fixed; right: 0; float: right; margin-left: 0; background: #323841; }
    .top-nav ul li { padding-right: 20px }
    #mnavh { display: block; }
    #nav { display: none; padding-left: 10px; border-left: #09b1b9 10px solid; }
    header { height: 98px; position: initial; }
    .search { width: 80%; margin-bottom: 10px }
    .side { display: none }
    .rside { display: none }
    .blogbox { width: 100% }
    .contentbox, .viewbox, .pinlun, .picbox, .bloglist { margin: 10px }
    .newsbox { margin: 0; padding: 0 10px; }
    .bloginfo { margin-bottom: 20px }
    .newsbox section { width: 100% }
    .links { margin: 0 10px 10px 10px }
    .newsbox .news { margin: 0 }
    .main-content { margin-left: 0; overflow: hidden; margin-top: 0 }
    .licur span { display: block }
    #starlist, .weixin { display: none; }
    .copyright { margin-bottom: 0 }
    #starlist li a { padding-left: 30px }
    #mside { display: block; text-align: center; font-size: 16px; line-height: 42px; background: #09B1B9; color: #fff }
    .but { position: relative; display: block }
    .but:after { position: absolute; content: "X"; width: 10px; top: 0; right: 5%; height: 4px }
    .bloglist h2 { font-size: 16px }
    .contentbox { padding: 10px }
    .down { margin: 0 }
    .viewbox ul li { width: 50%; margin-bottom: 20px }
    .nextinfo p { padding: 0 5px }
}

.b-tags{padding:10px 20px;background:#fff;box-shadow:0 1px 2px 0 #e2e2e2;overflow:hidden;margin: 20px 20px 20px 0;}
.b-tags .b-title{height:30px;}
.b-tags .b-all-tname{overflow:hidden;}
.b-tags .b-all-tname .b-tname{margin-top:5px;margin-right:5px;float:left;}
.b-tags .b-all-tname .b-tname a:hover{border-radius:0;}
a:hover{transition:all .5s ease 0s;}
.b-tags .b-all-tname{overflow:hidden}
.b-tags .b-all-tname .b-tname{margin-top:5px;margin-right:5px;float:left}
.b-tags .b-all-tname .b-tname a{display:block;padding:0 10px;height:20px;line-height:20px;border-radius:10px;color:#fff;font-size:12px;}
.b-tags .b-all-tname .b-tname a:hover{border-radius:0}
.b-tags .b-all-tname .b-tname .b-tag-style-0{background:#43ac6a}
.b-tags .b-all-tname .b-tname .b-tag-style-0:hover{text-decoration:none;background:#028231}
.b-tags .b-all-tname .b-tname .b-tag-style-1{background:#f3a557}
.b-tags .b-all-tname .b-tname .b-tag-style-1:hover{text-decoration:none;background:#e97705}
.b-tags .b-all-tname .b-tname .b-tag-style-2{background:#f25e45}
.b-tags .b-all-tname .b-tname .b-tag-style-2:hover{text-decoration:none;background:#d82508}
.b-tags .b-all-tname .b-tname .b-tag-style-3{background:#34afd8}
.b-tags .b-all-tname .b-tname .b-tag-style-3:hover{text-decoration:none;background:#0583ac}


.pagination {display: inline-block;padding-left: 0;margin-bottom: 20px;border-radius: 4px;}
.pagination>li {display: inline;}
.pagination>li>a, .pagination>li>span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.428571429;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
.pagination>li:first-child>a, .pagination>li:first-child>span {margin-left: 0;border-bottom-left-radius: 4px;border-top-left-radius: 4px;}
.pagination>li:last-child>a, .pagination>li:last-child>span {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {background-color: #eee;color:#09b1b9;}
.pagination>li>a, .pagination>li>span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.428571429;text-decoration: none;background-color: #fff;border: 1px solid #ddd;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {z-index: 2;color: #fff;cursor: default;background-color: #09b1b9;border-color: #09b1b9;}

.cate {padding: 10px 20px;background: #fff;box-shadow: 0 1px 2px 0 #e2e2e2;overflow: hidden;margin: 20px 20px 20px 0;}
.cate .cate-title{height:30px;}
.cate ul{}
.cate ul li{display: inline-block;padding: 3px 5px;margin-bottom: 5px;}
.cate ul li a{}
.cate ul li a:hover{color: #09b1b9;}